.label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 1.65em;
    height: 1.65em;
    background-color: transparent;
    vertical-align: middle;
    border: .225em solid #050000;
    appearance: none;
    -webkit-appearance: none;
    outline: .185em solid #f5f5f5;
    cursor: pointer;
}

.input:checked {
    background: #f5f5f5;
}

.input:hover {
    opacity: 85%;
}