.item {
    display: grid;
    gap: 1.65em;
    list-style: none;
}

.item > div:first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
    gap: 15px;
}

@media (max-width: 480px) {
    .item > div:first-child {
        align-items: start;
        flex-direction: column;
    }
}

.content {
    width: max(220px, min(60%, 920px));
}

@media (max-width: 480px) {
    .content {
        width: 100%;
    }
}

.heading {
    font-weight: 400;
    font-size: 2.25rem;
}

.mark {
    cursor: pointer;
}

.mark:hover {
    opacity: 85%;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px
}

@media (max-width: 480px) {
    .options {
        flex-direction: row;
    }
}