.item {
    display: grid;
    gap: 1.65em;
    list-style: none;
}

.item > div:first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
    gap: 15px;
}

@media (max-width: 768px) {
    .item > div:first-child {
        align-items: start;
        flex-direction: column;
    }
}

.content {
    width: max(220px, min(60%, 920px));
}

@media (max-width: 768px) {
    .content {
        width: 100%;
    }
}

.heading {
    font-weight: 400;
    font-size: 2.25rem;
}

.mark {
    cursor: pointer;
}

.mark:hover {
    opacity: 85%;
}

.options {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px
}

@media (max-width: 768px) {
    .options {
        flex-direction: row;
    }
}

.position {
    transform: rotate(180deg);
}

/* Input */

.label {
    border: .1565em solid #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.label:hover {
    opacity: 75%;
}

.input {
    width: 20px;
    height: 20px;
    border: 5px solid #050000;
    appearance: none;
    cursor: pointer;
}

.input:checked {
    background: #f5f5f5;
}